<app-navbar></app-navbar>
<div style="background: #242524;display: flex;align-items: center;padding: 30px 0;">
    <div class="add-location-form">
      <h2>เพิ่มข้อมูลสถานที่</h2>
    
      <form (ngSubmit)="onSubmit()">
        <!-- ฟอร์มชื่อสถานที่ -->
        <div class="form-group">
          <label for="name">ชื่อสถานที่ : </label>
          <input type="text" id="name" [(ngModel)]="locationData.name" name="name" required placeholder="กรอกชื่อสถานที่" class="form-control">
        </div>
    
        <!-- ฟอร์มรายละเอียด -->
        <div class="form-group">
          <label for="description">รายละเอียด</label><br>
          <textarea id="description" [(ngModel)]="locationData.detail" name="description" required placeholder="กรอกรายละเอียดสถานที่" class="form-control"></textarea>
        </div>
    
        <!-- ฟอร์มราคา -->
        <div class="form-group">
          <label for="price">ราคา : </label>
          <input type="number" id="price" [(ngModel)]="locationData.price" name="price" required placeholder="กรอกราคา" class="form-control">
        </div>
    
        <!-- ฟอร์มประเทศ -->
        <div class="form-group">
          <label for="country">ประเทศ : </label>
          <select id="country" [(ngModel)]="locationData.country" name="country" required class="form-control">
            <option value="">เลือกประเทศ</option>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
          </select>
        </div>
    
        <!-- ฟอร์มทวีป -->
        <div class="form-group">
          <label for="continent">ทวีป : </label>
          <select id="continent" [(ngModel)]="locationData.continent" name="continent" required class="form-control">
            <option value="">เลือกทวีป</option>
            <option *ngFor="let continent of continents" [value]="continent">{{ continent }}</option>
          </select>
        </div>
    
        <!-- ฟอร์มอัปโหลดรูปภาพ -->
        <div class="form-group">
          <label for="image">URL รูปภาพ</label><br>  
          <input type="text" id="coverimage" [(ngModel)]="locationData.coverimage" name="coverimage" required placeholder="กรอกลิ้งก์รูป" class="form-control">
        </div>
    
        <!-- ปุ่มยืนยันการเพิ่มข้อมูล -->
        <button type="submit" class="btn btn-primary" [disabled]="!locationData.name || !locationData.detail || !locationData.price || !locationData.country || !locationData.continent">เพิ่มข้อมูล</button>
      </form>
    </div>
</div>
