<app-navbar></app-navbar>

<div class="container" *ngIf="!loading; else loadingTemplate">
  <div class="edit-trip-form">
    <h2>แก้ไขข้อมูลสถานที่</h2>

    <form (ngSubmit)="onSubmit()">
      <!-- ชื่อสถานที่ -->
      <div class="form-group">
        <label>ชื่อสถานที่:</label>
        <input type="text" [(ngModel)]="locationData.name" name="name" class="form-control" required placeholder="กรอกชื่อสถานที่">
      </div>

      <!-- รายละเอียด -->
      <div class="form-group">
        <label>รายละเอียด:</label>
        <textarea [(ngModel)]="locationData.detail" name="detail" class="form-control" required placeholder="กรอกรายละเอียด"></textarea>
      </div>

      <!-- ราคา -->
      <div class="form-group">
        <label>ราคา:</label>
        <input type="number" [(ngModel)]="locationData.price" name="price" class="form-control" required placeholder="กรอกราคา">
      </div>

      <!-- ประเทศ -->
      <div class="form-group">
        <label>ประเทศ:</label>
        <select [(ngModel)]="locationData.country" name="country" class="form-control" required>
          <option value="">เลือกประเทศ</option>
          <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
      </div>

      <!-- ทวีป -->
      <div class="form-group">
        <label>ทวีป:{{locationData.continent}}</label>
        <select [(ngModel)]="locationData.continent" name="continent" class="form-control" required>
          <option value="">เลือกทวีป</option>
          <option *ngFor="let continent of continents" [value]="continent">{{ continent }}</option>
        </select>
      </div>

      <!-- ระยะเวลา -->
      <div class="form-group">
        <label>ระยะเวลา (วัน):</label>
        <input type="number" [(ngModel)]="locationData.duration" name="duration" class="form-control" placeholder="ระยะเวลาในการเดินทาง">
      </div>

      <!-- URL รูปภาพ -->
      <div class="form-group">
        <label>URL รูปภาพ:</label>
        <input type="text" [(ngModel)]="locationData.coverimage" name="coverimage" class="form-control" placeholder="วาง URL รูปภาพ">
        <img *ngIf="locationData.coverimage" [src]="locationData.coverimage" alt="รูปสถานที่" class="preview-image">
      </div>

      <button type="submit" class="btn btn-primary" >
        บันทึกข้อมูล
      </button>
    </form>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="loading">
    กำลังโหลดข้อมูล...
  </div>
</ng-template>
